body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
background-color: beige;
}
    main {
        width: 100%;
        margin-bottom: 50px;
    }
        nav {
            display: block;
            width: 100%;
            height: 40px;
        }
        nav > a {
            margin: 10px;
            float: right;
        }
        h1 {
            display: block;
            width: 100%;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }
            table {
                display: block;
                width: 600px;
                margin-left: calc((100% - 600px)/2);
                text-align: center;
                border-collapse: collapse;
            }
            tr, th, td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
            tr:nth-child(even) {
                background-color: #bebdbd;
              }
        h3 {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: beige;
            text-align: center;
            margin-top: 10px;
        }