body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
background-color: darkcyan;
}
    nav {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    h1 {
        text-align: center;
    }
    input {
        float: right;
        margin-right: 30px;
    }
    table {
        border: 1px solid black;
        font-size: 40px;
        width: 600px;
        margin-left: calc((100% - 600px)/2);
        background-color: #fff;
    }
    td {
        height: 30px;
        background-color: #fff;
    }